<div class="hide" id="calculatorTemplate"></div>
<!-- <style>

 .price-per-item__container, .product-form__quantity{display:none;} 
</style> -->

  
<script src="{{ 'currency.js' | asset_url }}" async></script>
<script src="{{ 'calculator.js' | asset_url }}" async></script>
