/* Hamburger Menu */
.header-wrapper .hamburger-trigger {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.96px;
  color:#000;
  z-index:2;
}
.header-wrapper .hamburger-trigger.desktop-hide{
  display:none;
}
.header-wrapper .hamburger-trigger svg{
  margin-right:10px;
}
#hamburger-menu{
  left: -100%;
  opacity: 0;
  visibility: hidden;
}
#hamburger-menu{
  background-color: var(--color-primary);
}
#hamburger-menu li{
  border-color:#000000;
  list-style-type: none;
  position:relative;
}
.hamburger-active{
  overflow:hidden;
}
.hamburger-active #hamburger-menu{
  left: 0;
  opacity: 1;
  visibility: visible;
}
.hamburger-active .hamburger__overlay{
  display: block;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  -webkit-transition: all .4s;-o-transition: all .4s;-moz-transition: all .4s;transition: all .4s;
}
.hamburger-menu{
  width:585px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding:75px 50px 30px 140px;
  z-index: 4;
  background-color: var(--color-secondary);
  -webkit-transition: all .4s;-o-transition: all .4s;-moz-transition: all .4s;transition: all .4s;
}
.hamburger-top{
  align-items:center;
  margin-bottom:30px;
}
.hamburger-menu .close-toggle{
  color: #ffffff;
  position: absolute;
  left: 50px;
  top: 100px; 
}
.hamburger-menu .close-toggle svg{
  fill:#ffffff;
}
.hamburger-menu .top-menu{
  margin:0;
  padding:0;
  overflow-y: auto;
  height: calc(100% - 130px);
  overflow-x: hidden;
}
.hamburger-menu .top-menu li{
  padding:0;
  margin:0;
}
#hamburger-menu hr {
  display: block;
  width: 65px;
  border-top: 1px solid #ffffff;
  margin:12px 0;
}
.hamburger-menu .top-menu li a{
  color:var(--color-secondary-text);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  padding:0;
  text-align:left;
  display: inline-block;;
}
.hamburger-menu .top-menu li a:hover{
  color: var(--color-secondary);
}
.hamburger-menu .top-menu li .menu--item-link.active--link{
  color:var(--color-secondary);
}
.menu--item-1 {

}
.menu--item-1.L-1--active .menu--L-2{
  display:block;
}
.menu--L-2{
  display: none;
  margin: 15px 0;
  padding: 0 0 0 20px;
}  
#hamburger-menu li .menu--L-2 .menu--item-2 {
  margin: 12px 0;
}
.menu--item-2.L-2--active .menu--L-3{
  display:block;
}
.menu--L-2--active {
  display: block;
}
.menu--L-3{
  display: none;
  margin: 15px 0;
  padding: 0 0 0 20px;
}  

.menu--L-3--active {
  display: block;
}
.menu--item-3 {

}
.l-1-trigger,
.l-2-trigger {
  cursor: pointer;
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  width:32px;
  height:32px;
  transition: all .4s;
}
.l-2-trigger.trigger-L2--active, .l-3-trigger.trigger-L3--active{
  transform: rotate(180deg);
}
.L-1--active .l-1-trigger, .L-2--active .l-2-trigger{
  transform: rotate(180deg);
}
@media screen and (max-width: 1199px){
  .hamburger-menu{
    width:320px;
    padding: 30px 30px 30px 30px;
  }
  .hamburger-menu .close-toggle{
    left: inherit;
    top: 50px;
    right: 30px;
  }
  .hamburger-menu .top-menu li a{
    font-size:16px;
  }
  #hamburger-menu hr{
    margin:10px 0;
  }
  .l-1-trigger, .l-2-trigger{
      top: 0;
  }
  .l-1-trigger svg, .l-2-trigger svg {
    width: 28px;
    height: 28px;
  }
}
@media screen and (max-width: 989px){
  .header-wrapper .hamburger-trigger{
    left:-100px;
    font-size:15px;
  }
  .header-wrapper .hamburger-trigger.desktop-hide {
    display: flex;
  }
  .hamburger-logo svg {
    max-width: 130px;
  }
  .hamburger-top{
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 599px){
  .header-wrapper .hamburger-trigger.desktop-hide {
    display: flex;
    left: inherit;
    position: relative;
    top: 0;
    transform: translateY(0);
    margin-right:10px;
  }
}